* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --shadow-cards: 2px 2px 2px 1px #00000033;
}

body {
    background: var(--body-bg-color);
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
}

h3 {
    font-weight: 700;
}

.container {
    display: flex;
    gap: 60px;
    margin: 40px 40px 0;
}

/* INFORMAÇÕES DO USUARIO */

.profile-informations {
    width: 380px;
}

.profile {
    text-align: center;
    padding: 32px 70px 49px;
    line-height: 28px;
    background: var(--bg-cards);
    border-radius: 20px;
    box-shadow: var(--shadow-cards);
    margin-bottom: 30px;
}

.profile h3 {
    font-size: 23px;

}

.profile img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 25px;
    border: 2px solid #00FF00;
}

.profile p {
    font-weight: 300;
    font-size: 13px;
}

.social-infos {
    background: var(--bg-cards);
    border-radius: 20px;
    box-shadow: var(--shadow-cards);
    padding: 30px 40px;
    margin-bottom: 30px;
}

.social-infos ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-infos ul li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.technologies {
    padding: 30px 20px;
    background: var(--bg-cards);
    border-radius: 20px;
    margin-bottom: 30px;
}

.technologies h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.tech-names ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    font-weight: 700;
    font-size: 11px;
}

.tech-names ul li {
    background: var(--bg-techs);
    text-align: center;
    color: black;
    width: 95px;
    padding: 6px 0;
    border-radius: 30px;
}

.experiences {
    padding: 30px 20px;
    background: var(--bg-cards);
    border-radius: 20px;
    margin-bottom: 30px;
}

.educations {
    padding: 30px 20px;
    background: var(--bg-cards);
    border-radius: 20px;
}

/* PROJETOS E POSTS */

.projects-and-posts {
    flex: 1;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-cards);
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--shadow-cards);
    margin-bottom: 30px;
}

.projects h3 {
    font-size: 20px;
}

.projects a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
}

.projects a:hover {
    color: #837e9fa5;
    transition: 0.3s;
}

.repos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.repo {
    display: flex;
    flex-direction: column;
    gap: 22px;
    flex: 1;
    padding: 32px;
    border-radius: 20px;
    box-shadow: var(--shadow-cards);
    background: var(--bg-cards);
    text-decoration: none;
    color: var(--text-color);
    transition: .2s;
}

.repo:hover {
    background: #302f3d5d;
    transition: .2s;
}

.repo p {
    font-weight: 400;
    font-size: 14px;
}

.my-repo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.my-repo p {
    font-weight: 700;
    font-size: 16px;
}

.info-repo {
    display: flex;
    justify-content: space-between;
}

.info-repo span {
    font-size: 14px;
    font-weight: 400;
}

.stars-branch {
    display: flex;
    gap: 16px;
}

.stars-branch div {
    display: flex;
    gap: 8px;
}

.language {
    display: flex;
    gap: 8px;
}

.posts {
    background: var(--bg-cards);
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--shadow-cards);
    margin-bottom: 30px;
}

.recent-post {
    display: flex;
    gap: 20px;
    background: var(--bg-cards);
    text-decoration: none;
    color: var(--text-color);
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--shadow-cards);
    margin-bottom: 30px;
    transition: .2s;
}

.recent-post img {
    width: 140px;
    border-radius: 50%;
}

.recent-post:hover {
    background: #302f3d5d;
    transition: .2s;
}

.post-info h3 {
    font-size: 18px;
    line-height: 30px;
}

.post-info .time {
    font-size: 14px;
    margin-bottom: 28px;
}
.post-info p {
    margin-bottom: 10px;
}

.post-info ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 20px 0;
}